/********** Range Input Styles **********/
/*Range Reset*/
input[type="range"] {
	-webkit-appearance: none;
	appearance: none;
	background: transparent;
	box-shadow: 0 0 5px 2px rgba(173, 173, 173, 0.8);
	border-radius: 100px;
	width: 100%;
}

/* Removes default focus */
input[type="range"]:focus {
	outline: none;
}

/***** Chrome, Safari, Opera and Edge Chromium styles *****/
/* slider track */
input[type="range"]::-webkit-slider-runnable-track {
	background-color: rgba(52, 61, 61, 0.72);
	border-radius: 0.5rem;
	height: 1rem;
	overflow: hidden;
}

/* slider thumb */
input[type="range"]::-webkit-slider-thumb {
	-webkit-appearance: none;
	/* Override default look */
	appearance: none;

	/*custom styles*/
	background-color: rgba(140, 160, 160, 0.88);
	height: 1rem;
	width: 2rem;
	border-radius: 8px;
}

/******** Firefox styles ********/
/* slider track */
input[type="range"]::-moz-range-track {
	background-color: rgba(52, 61, 61, 0.72);
	border-radius: 0.5rem;
	height: 1rem;
	overflow: hidden;
}

/* slider thumb */
input[type="range"]::-moz-range-thumb {
	border: none;
	/*Removes extra border that FF applies*/
	border-radius: 0;
	/*Removes default border-radius that FF applies*/

	/*custom styles*/
	background-color: rgba(140, 160, 160, 0.88);
	height: 1rem;
	width: 2rem;
	border-radius: 8px;
}

@font-face {
	font-family: NSMBDS;
	src: url(/data/super-mario-ds-original.ttf);
}

@font-face {
	font-family: Tomorrow-Medium;
	src: url(/data/Tomorrow-Medium.ttf);
}

button {
	background-color: rgba(52, 61, 61, 0.72);
	border: 1px solid rgba(140, 140, 160, 0.88);
	border-radius: 2px;
	padding: 2px 4px 2px 4px;
	font-family: NSMBDS;
	color: rgb(173, 173, 173);
}